* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* padding 0 because ul have a default padding left, and other reasons */
    --azul: rgb(60, 128, 173);
    --verde-fundo: rgb(60, 189, 90);
    font-size: 18px;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--verde-fundo)
}

header {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}

.title {
    width: 50%;
    display: flex;
    justify-content: start;

}

#perfil {
    border-radius: 50%;
    width: 6rem;
}

h1 {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    font-variant: small-caps;
}

nav {
    width: 50%;
    display: flex;
    justify-content: start;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

nav ul li {
    letter-spacing: 5px;
}

.sections {
    background-color: aliceblue;
    margin: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.sections h2 {
    background-color:antiquewhite;
    font-size: 1.2rem;
    padding: 1rem;
}

.sections p,
.sections ul,
.sections ul li {
    display: flex;
    text-align: left;
    flex-direction: column;
    background-color: var(--azul);
}

.sections p, .sections ul {
    padding: 0.5rem;
}

footer {
    background-color: darkgreen;
}

.footer-info {
    display: flex;
    align-items: center;
    justify-content: center;
}