* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* padding 0 because ul have a default padding left, and other reasons */
    --azul: rgb(60, 128, 173);
    --commom-pattern: rgb(250, 218, 221);
    --important-pattern: rgb(0, 0, 80);
    --background: rgb(201, 207, 212);
    font-size: 18px;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--background);
}

header {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--important-pattern);
}

.title {
    width: 50%;
    display: flex;
    justify-content: start;

}

#perfil {
    border-radius: 50%;
    width: 6rem;
}

h1 {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    font-variant: small-caps;
    color: var(--commom-pattern);
}

nav {
    width: 50%;
    display: flex;
    justify-content: start;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

nav ul li,
nav ul li a {
    letter-spacing: 5px;
    color: var(--commom-pattern);
}

.sections {
    background-color: var(--commom-pattern);
    margin: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.sections h2 {
    background-color: var(--important-pattern);
    font-size: 1.2rem;
    padding: 1rem;
    color: white;
}

.sections p,
.sections ul,
.sections ul li {
    display: flex;
    text-align: left;
    flex-direction: column;
    background-color: var(--azul);
    color: var(--commom-pattern);
}

.sections p,
.sections ul li {
    padding: 0.5rem;
}

#information {
    padding: 1rem;
    background-color: var(--important-pattern);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    color: var(--commom-pattern);
}